<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand d-flex align-items-center ms-3">
      <a href="https://linkedin.com" target="_blank" class="me-2">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="navbar-brand ms-lg-5" id="title">
      Custom-Report-Generator
    </div>
    <div class="navbar-text">
      Developer: rachit.keshari@gmail.com
    </div>
  </div>
</nav>
